<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intro Vue.js</title>
  </head>
  <body>
    <!-- Vue will have control over this div -->
    <div id="myApp">
      <h2>
        Since Vue has access to this div container, double brackets can also be
        used to resolve statements from the html document, if the Vue app
        doesn't have template.
        <!-- Comment out the template in app.js to see this in action. -->
      </h2>
      <h3>Let's print { '1' + '1' }</h3>
      <p>{{'from html document: ' + '1' + '1' }}</p>

      <p>{{message}}</p>
      <p>{{author}}</p>
      <button v-on:click="changeMessage">Change message</button>
      <!-- it's not necessary to use v-on:click, you can just use @click, 
      and changeMessage with () or without, it's up to you. -->
    </div>
    <div id="myApp2">
      <h3>{{message}}</h3>
      <p>{{quotes}}</p>
      <!-- <ul>
            <li>{{quotes[0].author}}</li>
            <li>{{quotes[1].author}}</li>
            <li>{{quotes[2].author}}</li>
            <li>{{quotes[3].author}}</li>
            <li>{{quotes[4].author}}</li>
            <li>{{quotes[5].author}}</li>
        </ul> -->
      <ul>
        <li v-for="phrase in quotes">
          <!-- we have to apply the v-for directive in the li element, not in the ul element. -->
          <span>{{phrase.quote}}</span>
          <blockquote>- {{phrase.author}}</blockquote>
        </li>
        <!-- in or of is supported -->
        <!-- quote.author and not quotes.author because we are iterating over quotes, not the quote object itself. -->
        <h2>Let's us destructuring/deconstruction to do the same plus index</h2>
        <li v-for="({quote, author}, index) in quotes">
          <!-- when we use destructuring, we HAVE to use the same name as the object's properties.  -->
          <span>{{index + 1}} - {{quote}}</span>
          <blockquote>- {{author}}</blockquote>
        </li>
      </ul>
    </div>
    <div id="myApp3">
      <h1>Using v-model: {{newSentence}}</h1>
      <input type="text" v-model="newSentence" v-on:keyup.enter="addSentence" />
      <!-- v-on keypress fires whenever a key is pressed, not just when enter is pressed. -->
      <!-- keyup allows us to specify the key we want to listen to, in this case, enter.
      so keyup.enter is the same as keypress.enter. -->
      <hr />
      <span>{{quotes[0].author}}</span>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
